table.outer
    margin 24px

table.outer
    td
        vertical-align top
table.inner
    th
        border-bottom 1px solid #444
    tr td th:last-child{
        width:1%;
        white-space:nowrap;
    }

input
    width auto

input[type="file"]
    width 400px
